.title {
	font-weight: bold;
	font-size: 15pt;
}

.label {
	font-size: 10pt;
	font-weight: bold;
    background-color: #FFFFDB;
}
header{
    width: 1100px;
    height: 50px;
    float: left;
}
section {
	width: 900px;
	background-color: #FFCCCC;
    border: 1px solid #333333;
    text-align: left;
	font-weight: bold;
	visibility: visible;
	z-index: 0;
    float: right;
}
nav {
    text-align: left;
	font-weight: bold;
	border: 1px solid #333333;
	background-color: #FFCCCC;
	vertical-align: text-top;
	width: 180px;
	height: 600px;
    float: right ;
}

.entry {
	background-color: #FFEECC;
    border: 1px solid #333333;
	font-size: 10pt;
	width: 200px;
	margin: 3px;
	z-index: 4;
	cursor: move;
}
.comment {
	background-color: #FFFFDB;
    border: 1px solid #333333;
	font-size: 10pt;
	width: 700px;
	margin: 3px;
	z-index: 4;
	cursor: move;
}
.datetime {
	font-size: 8pt;
}
.comment_form {
    font-weight: bold;
    font-size: 12pt;
    background-color: #FFFFDB;
    border: 1px solid #333333;
    width: 700px;
	margin: 3px;
}

.profile_detail {
    text-align: left;
	font-weight: bold;
	color: #4B0082;
    width: 800px;
}


